@font-face {
	font-family: 'Stolzl';
	src: url('./assets/fonts/Stolzl-Regular.eot');
	src:
		local('Stolzl Regular'),
		url('./assets/fonts/Stolzl-Regular.woff') format('woff'),
		url('./assets/fonts/Stolzl-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

